@charset 'utf-8';
@import 'reset';

$white: #ffffff;
$bg-color: #010101;
$red: #dd4135;
$deep-dark-grey: #0a0a0a;
$dark-grey: #202020;
$font-color: #b7b7b7;
$grey: #1c1c1c;

html, body {
    overflow: hidden;
    height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  background-color: $bg-color;
  border: 1px solid red;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
