@charset 'utf-8';
@import 'reset';

$white: #ffffff;
$bg-color: #010101;
$red: #dd4135;
$deep-dark-grey: #0a0a0a;
$dark-grey: #202020;
$font-color: #b7b7b7;
$grey: #1c1c1c;

// Extra large devices (large desktops, 1200px and up)

html, body {
    overflow: hidden;
    height: 100%;
}

body {
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  background-color: $bg-color;
  width: 100%;
  overflow-x: hidden;
  font-weight: 300px;
  max-width: 1600px;
  max-height: 1366px;
}

* {
  box-sizing: border-box;
}

/* Home */

.home {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: $bg-color;
  position: relative;
  overflow: hidden;
}

  /* -- Preloader */

  .preload {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      z-index: 10000;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      height: 100%;
      top: 0;
      background-color: $bg-color;
      transition: opacity 400ms ease-in-out, visibility 0s 400ms;
  }

  .circles-group {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }

  .circle {
      background-color: $font-color;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin: 0 5px;
      display: inline-block;
      animation: bounce-circles 1s infinite ease-in-out;
  }

  .preload .circle:nth-child(1) {
       animation-delay: -0.6s;
  }

  .preload .circle:nth-child(2) {
       animation-delay: -0.5s;
  }

  .preload .circle:nth-child(3) {
       animation-delay: -0.4s;
  }

  .preload .circle:nth-child(4) {
      animation-delay: -0.3s;
  }

  @keyframes bounce-circles
  {
      0%, 40%, 100% 
      {
    transform: translateY(-10px);
      } 20% 
      {
    transform: translateY(-20px);
      }
  }

  .preload__logoBorder {
    width: 114px;
    height: 114px;
  }

  .preload__LogoBorderInside {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .preload__svg {
    position: absolute;
    top: 23px;
    left: 23px;
  }

  /* -> Navigation */
    /* -> Menu List */

.nav__item {
  position: absolute;
}

.nav__item--projects {
  top: 50%;
  transform: translateY(-50%);
  transform: rotateZ(90deg);
  left: -10px;
}

.nav__item--contact {
  top: 50%;
  transform: translateY(-50%);
  transform: rotateZ(90deg);
  right: 0;
}

.nav__item--about {
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
}

    /* -> Menu Link */

.nav__link {
  text-transform: uppercase;
  color: $red;
  font-size: 20px;
  letter-spacing: 3px;
  transition: all 0.3s;
  font-weight: 700;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

  /* -> Logo */

.hero__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

.logo__border {
  border: 2px solid $font-color;
  padding: 5px;
  border-radius: 50%;
}

.logo__borderInside {
  border: 2px solid $red;
  border-radius: 50%;
  padding: 5px;
}

.logo {
  background-image: url('../images/logo-białe.svg');
  background-size: 170%;
  background-position: center -35px;
  width: 80px;
  height: 80px;
}

 /* -> Hero */ 

 .hero {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.hero__name {
  margin-top: 5%;
  margin-right: 12%;
}

.hero__photo {
  width: 50%;
  height: 100%;
  background-image: url('../images/paulina__hero.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% bottom;
}

.hero__heading {
  font-weight: bold;
  background-image: url('../images/paulina__about2.jpg');
  -webkit-text-fill-color: transparent;
  background-size: 160%;
  -webkit-background-clip: text;
  background-position: -302px -62px;
}

.hero__heading--mobile {
  display: none;
}

.heading__name {
  text-transform: uppercase;
  font-size: 105px;
  line-height: 90px;
  font-weight: 900;
}

.heading__profession {
  margin-top: 10%;
  font-size: 45px;
  font-weight: 600;
  color: $white;
  text-align: right;
  position: relative;
}

/* Page Transitions */

  /* -> Transition Right */

.moveFromRight {
  animation: moveFromRightFade .7s ease both;
}

@keyframes moveFromRightFade {
  from {
    left: 100%;
    opacity: 0.3;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.returnRight {
  animation: returnRightFade .7s ease both;
}

@keyframes returnRightFade {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0.3;
  }
}

    // -> Transition Left

.moveFromLeft {
  animation: moveFromLeftFade .7s ease both;
}

@keyframes moveFromLeftFade {
  from {
    right: 100%;
    opacity: 0.3;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.returnLeft {
  animation: returnLeftFade .7s ease both;
}

@keyframes returnLeftFade {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: 100%;
    opacity: 0.3;
  }
}

    // -> Transition Bottom

.moveFromBottom {
  animation: moveFromBottomFade .7s ease both;
}

@keyframes moveFromBottomFade {
  from {
    top: 100%;
    opacity: 0.3;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.returnBottom {
  animation: returnBottomFade .7s ease both;
}

@keyframes returnBottomFade {
  from {
    top: 0;
    opacity: 1;
  }
  to {
    top: 100%;
    opacity: 0.3;
  }
}

/* Sections */

  /* Section about */

.section__about {
  width: 100%;
  background-color: $bg-color;
  position: absolute;
  top: 100%;
  overflow-y: scroll;
  height: 100%;
}

.section__about::-webkit-scrollbar {
    width: 0;
}

.section__link {
  font-size: 30px;
  color: $white;
  position: fixed;
  right: 45px;
  top: 45px;
  z-index: 2;
}

  /* -> Navbar */

.navbar {
  position: fixed;
  top: 45%;
  transform: translateY(-50%);
  right: 50px;
  height: 50vh;
  z-index: 1;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  width: 2px;
  height: 100%;
  border-radius: 5px;
  background-color: $font-color;
}

.progress-bar--incIntroduction {
  background-color: $red;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  height: 0;
  max-height: 100%;
  width: 2px;
  border-radius: 5px;
}

.progress-bar--circle {
  position: absolute;
  top: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $font-color;
  transition: all 0.1s;
}

.progress-bar--circle.active {
  background-color: $red;
}

.navbar ul {
    margin-top: -6px;
    list-style: none;
    height: 100%;
}

.navbar ul li {
    position: relative;
    width: 14px;
    height: 25%;
}

.navbar ul li a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
    transition: all 0.1s;
}

.active {
 color: #E74C5B !important;
}

/* -> Icon Scroll */

.about__iconScroll {
  position: fixed;
  top: 80%;
  right: 45px;
  width: 26px;
  height: 60px;
  z-index: 2;
  transition: opacity 0.4s;
}

.iconScroll__arrow {
  display: block;
  width: 15px;
  height: 15px;
  border-right: 2px solid rgba(255,255,255,.8);
  border-bottom: 2px solid rgba(255,255,255,.8);
  margin: 0 0 2px 5px;
  transform: rotate(45deg);
  animation: mouse-scroll 1s infinite;
  animation-direction: alternate;
}

.iconScroll__arrow--first {
  margin-top: 6px;
  animation-delay: .1s;
}

.iconScroll__arrow--second {
  animation-delay: .2s;
}

.iconScroll__arrow--third {
  animation-delay: .3s;
}

.iconScroll__mouse {
  height: 42px;
  width: 24px;
  border: 2px solid rgba(255,255,255,.8);
  border-radius: 10px;
}

.iconScroll__wheel {
  position: relative;
  display: block;
  height: 5px;
  width: 3px;
  margin: 5px auto 0;
  background: rgba(255,255,255,.8);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

@keyframes mouse-scroll {
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

  /* -> Introduction */

.about__introduction {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  padding-right: 80px;
}

.about__photo {
  width: 43%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 60px;
}

.about__text {
  width: 57%;
  height: 100%;
  display: flex;
  align-items: center; 
  padding: 0 40px 0 0;
}

.about__content {
  text-align: center;
}

.about__figure {
  max-width: 420px;
}

.about__image {
  width: 100%;
  border: 2px solid $red;
}

.section__headingBox{
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.section__heading {
  font-size: 50px;
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  padding-bottom: 2px;
  letter-spacing: 1px;
}

.section__subheading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  color: $red;
  text-align: right;
  letter-spacing: -1px;
}

.section__subheading::before {
  content: '';
  width: 88px;
  height: 2px;
  background-color: $white;
  position: absolute;
  bottom: 8px;
  left: 3px;
}

.about__bio {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 60px;
}

.about__article {
  margin-top: 20px;
  text-indent: 50px;
  text-align: justify;
}

.about__strong {
  color: $white;
}

.about__link {
  background-color: $red;
  color: $white;
  font-size: 18px;
  letter-spacing: 1px;
  border: 2px solid $red;
  transition: all 0.3s;
  margin: 0 5px;
  display: inline-block;
  height: 54px;
  line-height: 50px;
}

.about__link--CV {
  width: 200px;
}

.about__link--social {
  width: 54px;
}

  /* -> Skills */

.about__skills {
  width: 100%;
  min-height: 763px;
  text-align: center;
  background-color: #0a0a0a;
  padding-right: 80px;
}

.skills__headingBox {
  margin: 50px 0;
}

.skills__subheading:before {
  width: 282px;
}

.about__carousel {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  min-height: 540px;
  overflow: hidden;
  position: relative;
}

.carousel__skillsBox {
  max-width: 1200px;
  height: 580px;
}

.carousel__skillsTitle {
  margin-bottom: 20px;
}

.carousel__skillsRow {
  display: flex;
  justify-content: center;
  height: 137px;
}

.corousel__skillsCell {
  width: 170px; 
}

@keyframes grow {
  from {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.05, 1.05);
  }

  to {
    transform: scale(1, 1);
  }
}

.carousel__hexagon {
  font-size: 12px; /* Sterowanie rozmiarem figury. */
  width: 10em;
  height: 5.6em;
  background-color: $white;
  position: relative;
  margin: 55px auto 0;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

.carousel__hexagon:before {
  content: '';
  position: absolute;
  top: 5.53em;
  left: 0; 
  border-top: 3em solid $white;
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
}

.carousel__hexagon:after {
  content: '';
  position: absolute;
  bottom: 5.53em;
  left: 0; 
  border-bottom: 3em solid $white;
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
}

.corousel__logo {
  position: absolute;
  top: -36px;
  width: 100%;
  height: 138px;
  z-index: 1;
}

.corousel__logo--animTwo {
  animation-delay: 1s;
}

.corousel__logo--animThree {
  animation-delay: 2s;
}

.js {
  background-image: url('../images/js.svg');
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
}

.html5 {
  color: #e44d26;
  line-height: 145px;
  font-size: 85px;
}

.css3 {
  color: #1b73ba;
  line-height: 145px;
  font-size: 85px;
}

.jquery {
  font-size: 75px;
  line-height: 135px;
}

.sass {
  font-size: 85px;
  line-height: 135px;
}

.bootstrap {
  font-size: 70px;
  line-height: 135px;
}

.ajax {
  background-image: url('../images/ajax.svg');
  background-position: center 40px;
  background-size: 95%;
  background-repeat: no-repeat;
}

.git {
  font-size: 80px;
  line-height: 135px;
}

.npm {
  font-size: 80px;
  color: #cb3837;
  line-height: 135px;
}

.photoshop {
  font-size: 65px;
  line-height: 135px;
}

.es6 {
  background-image: url('../images/es6.png');
  background-position: center 37px;
  background-size: 55%;
  background-repeat: no-repeat;
}

.webpack{
  font-size: 80px;
  line-height: 140px;
}

.node {
  font-size: 80px;
  line-height: 140px;
}

.react {
  font-size: 80px;
  line-height: 140px;
}

.redux {
  background-image: url('../images/redux.png');
  background-position: center 29px;
  background-size: 70%;
  background-repeat: no-repeat;
}

.express {
  font-size: 80px;
  line-height: 140px;
}

.mongodb {
  font-size: 80px;
  line-height: 140px;
}

.mern {
  background-image: url('../images/mern.png');
  background-position: center 48px;
  background-size: 90%;
  background-repeat: no-repeat;
}

.carousel__skillsList {
  max-width: 2400px;
  width: 200%;
  padding: 0;
  margin: 0;
  position: absolute;
}

.carousel__skillsList li {
  list-style-type: none;
  width: 50%;
  height: 580px;
  float: left;
}

.carousel__dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
}

.carousel__dots li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid $white;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.carousel__dots li.active {
  background-color: $white;
  border: 3px solid $red;
}

.carousel__arrow {
  position: absolute;
  z-index: 1;
  color: $white;
  font-size: 70px;
  top: 42%;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.carousel__arrow--left {
  left: 20px;
}

.carousel__arrow--right {
  right: 20px;
}

  /* -> Education */

.about__education {
  min-height: 1000px;
  text-align: center;
  padding-right: 80px;
  margin: 50px 0;
}

.education__headingBox {
  margin: 50px 0;
}

.education__subheading:before {
  width: 140px;
}

.about__timeline {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.about__timeline:after {
  content: '';
  width: 2px;
  height: 100%;
  background-color: $dark-grey;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  z-index: 1;
}

.about__timeline:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 41px solid $red;
  margin: 40px auto 0;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 0;
  margin-top: -20px;
  z-index: 2;
}

.timeline__empty {
  width: 50%;
}

.timeline__education {
  width: 50%;
  display: flex;
  padding: 20px;
}

.timeline__education--left {
  justify-content: flex-end;
}

.education__years {
  display: flex;
  align-items: center;
  position: relative;
}

.education__years:before {
  content: '';
  width: 10px;
  height: 10px;
  border: 3px solid $white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  z-index: 2;
}

.education__years--right:before {
  left: -28px;
}

.education__years--left:before {
  right: -28px;
}

.timeline__education:hover .education__year {
  color: $red;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.timeline__education:hover .education__years:before {
  background-color: $white;
  border: 3px solid $red;
}

.education__year {
  font-size: 60px;
  font-weight: bold;
  color: $dark-grey;
  letter-spacing: 1px;
  margin-right: 20px;
}

.education__year--left{
  margin-right: 0;
  margin-left: 20px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.education__studies {
  text-align: left;
}

.education__studies--left {
  text-align: right;
}

.education__specialization {
  font-size: 20px;
  color: $red;
  margin: 20px 0 10px 0;
  font-weight: bold;
}

.education__school {
  color: $white;
  font-size: 18px;
  margin: 20px 0 10px 0;
  line-height: 1.2;
}

.date {
  display: block;
}

.education__address {
  line-height: 1.2;
  margin-bottom: 20px;
}

  /* -> Work */

.about__work {
  min-height: 900px;
  text-align: center;
  padding-right: 80px;
}

.work__headingBox {
  margin: 50px 0;
}

.work__subheading:before {
  width: 405px;
}

.about__workBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}

.workBox__works {
  width: 80%;
  display: flex;
  padding: 20px;
  min-width: 750px;
}

.workBox__works:hover .workBox__year {
  color: $red;
  transition: all 0.3s;
}

.workBox__works:hover .workBox__work {
  background-color: $dark-grey;
  transition: all 0.3s;
}

.workBox__dates {
  width: 250px;
  display: flex;
  align-items: center;
}

.workBox__datesBox {
  height: 118px;
  position: relative;
  width: 100%;
}

.workBox__work {
  width: 75%;
}

.workBox__year {
  font-size: 100px;
  letter-spacing: 1px;
  font-weight: bold;
  color: $dark-grey;
  position: absolute;
  top: 0;
}

.workBox__year--right {
  right: -73px;
}

.workBox__year--left{
  left: -60px;
}

.workBox__year--rightSecond {
  right: -64px;
}

.workBox__date {
  font-size: 18px;
  position: absolute;
  width: 250px;
  bottom: 0;
}

.workBox__date--right {
  right: -130px;
}

.workBox__date--left {
  left: -58px;
}

.workBox__date--rightSecond {
  right: -87px;
}

.workBox__work {
  padding-left: 100px;
  background-color: $deep-dark-grey;
  padding-right: 100px;
}

.workBox__work--left {
  padding-left: 100px;
  padding-right: 100px;
  text-align: right;
}

.workBox__business {
  font-size: 20px;
  color: $red;
  margin: 50px 0 10px 0;
  font-weight: bold;
  line-height: 1.2;
}

.workBox__address {
  line-height: 1.2;
  margin-bottom: 20px;
}

.workBox__office {
  color: $white;
  font-size: 18px;
  margin: 20px 0 50px 0;
  line-height: 1.2;
}

  /* Footer */

.footer {
  background-color: $deep-dark-grey;
  margin-top: 50px;
  padding-right: 112px;
  display: flex;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 30px 5px 30px 20px;
}

.footer__content {
  width: 50%;
}

.footer__content--copyright {
  color: $white;
  font-size: 15px;
  line-height: 1.3;
}

.footer__content--social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }

.footer__contact {
  color: #b7b7b7;
}

.footer__container {
  text-align: left;
}

.footer__link {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: $grey;
  display: inline-block;
  text-align: center; 
  margin-left: 10px; 
  color: $font-color; 
  transition: all 0.3s;
}

.footer__link--cv {
  font-weight: bold;
  text-transform: uppercase;
}

.footer__link--web {
 color: $red;
}

  /* Section projects */

.section__projects {
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  position: absolute;
  right: 100%;
  top: 0;
  overflow-y: scroll;
  text-align: center;
}

.section__projects::-webkit-scrollbar {
    width: 0;
}

.projects__box {
  width: 100%; 
  height: 100%;
  position: relative;
  min-height: 2453px;
}

.projects__particles {
  width: 100%;
  height: 100%;
  position: absolute;
}

.projects__content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 50px;
}

.projects__headingBox {
  margin: 50px 0;
}

.projects__subheading:before {
  width: 158px;
}

.projects__container {
  padding: 20px 10px 0 10px;
  display: block;
}

.projects__rowCell {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
}

.projects__cell {
  width: 50%;
  height: 400px;
  margin: 0 10px 20px 10px;
  position: relative;
  overflow: hidden;
}

.projects__cellBlende {
  width: 50%;
  height: 400px;
  background-color: rgba(28, 28, 28, 0.9);
  position: absolute;
  transition-timing-function: linear;
  transition: all 0.2s;
}

.projects__cell:hover .projects__cellBlende--left {
  left: 0;
}

.projects__cell:hover .projects__cellBlende--right {
  right: 0;
}

.projects__cellBlende--left {
  left: -50%;
}

.projects__cellBlende--right {
  right: -50%;
}

.projects__cellContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1;
  bottom: -100%;
}

.projects__cell:hover .projects__cellContent {
  bottom: 0;
}

.projects__title {
  font-size: 20px;
  color: $red;
  font-weight: bold;
  margin-bottom: 20px;
}

.projects__description {
  line-height: 1.2;
  margin-bottom: 20px;
}

.projects__cell--portfolio {
  background-image: url('../images/_portfolio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--mache {
  background-image: url('../images/_mache.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--phototime {
  background-image: url('../images/_phototime.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--rock {
  background-image: url('../images/_rock.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--random {
  background-image: url('../images/_random.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--tamagotchi {
  background-image: url('../images/_tama.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--crabs {
  background-image: url('../images/crabs.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--chuck {
  background-image: url('../images/chuck.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__cell--kanban {
  background-image: url('../images/kanban.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.projects__link {
  width: 40px;
  height: 40px;
  background-color: $bg-color;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin: 0 5px;
  margin-bottom: 20px;
  transition: all 0.3s;
  & i {
    color: $font-color;
    transition: color 0.3s;
  }
}

.projects__link:hover {
  background-color: $red;
  & i {
    color: #ffffff;
  }
}

.projects__technologies {
  display: inline-block;
  padding: 5px;
  background-color: $red;
  color: #ffffff;
  margin: 5px 3px;
}

.projects__footer {
  padding-right: 0;
}

.projects__footer__content {
  padding-right: 20px;
}

 /* Section contact */

.section__contact {
  width: 100%;
  height: 100%;
  background-color: $bg-color;
  position: absolute;
  left: 100%;
  top: 0;
  overflow-y: scroll;
  text-align: center;
}

.section__contact::-webkit-scrollbar {
  width: 0;
}

.contact__box {
  width: 100%; 
  height: 100%;
  position: relative;
  min-height: 800px;
}

.contact__particles {
  width: 100%;
  height: 100%;
  position: absolute;
}

.contact__content {
  width: 100%;
  height: 100%;
  position: absolute;
  padding-top: 50px;
}

.contact__footer {
  text-align: left;
  padding-right: 0; 
}

.contact__headingBox {
  margin-top: 50px;
}

.contact__subheading:before {
  width: 82px;
}

.contact__container {
  padding: 20px 10px 0 10px;
}

.contact__columnCell {
  width: 50%;
  height: 70vh;
  margin: 0 10px 20px 10px;
  padding: 20px;
}

.contact__cell {
  width: 100%;
  height: 30.7%;
}

.contact__cell--email {
  background-image: url('../images/contactEmail.jpg');
  background-size: cover;
}

.contact__cell--phone {
  background-image: url('../images/contactPhone.jpg');
  background-size: cover;
}

.contact__cell--social {
  background-image: url('../images/contactSocial.jpg');
  background-size: cover;
  margin: 20px 0;
}

.contact__columnCell--form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact__title {
  font-size: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 35px;
}

.contact__imput--email {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;
  background-color: #111111;
  border: 0;
  padding: 0px 15px;
  line-height: 50px;
  color: #ffffff;
  font-size: 16px;
}

.contact__imput--email:focus, .contact__textarea:focus {
  outline: 2px solid $font-color;
}

.footer__content--social {
  padding-right: 20px;
}

.contact__textarea {
  width: 100%;
  background-color: #111111;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: inherit;
  height: 260px;
  padding: 15px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.contact__button {
  background-color: $red;
  padding: 18px;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 1px;
  border: 2px solid $red;
  transition: all 0.3s;
  cursor: pointer;
}

.contact__blende {
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__contactTitle {
  font-size: 18px;
  color: $white;
  margin-bottom: 20px;
}

.contact__link {
  background-color: $red;
  height: 61px;
  width: 61px;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  line-height: 61px;
  margin: 0 5px;
  border: 2px solid $red;
}

.contact__description {
  color: #b7b7b7 !important;
}

/* Large devices (desktops, 992px and less than 1200px) */
@media (max-width: 1200px) {

  /* Home */
    /* -> Hero */

  .hero {
    background-size: 42%;
  }

  .heading__name {
    font-size: 80px;
    line-height: 70px;
  }

  .heading__profession {
    font-size: 35px;
  }

  .hero__heading {
    background-size: 142%;
    background-position: -193px -33px;
  }

  .hero__name {
    margin-right: 10%;
  }

  .hero__photo {
    background-position: right bottom;
  }

  /* About */
    /* -> Introduction */

  .about__photo {
    width: 100%;
    min-height: 600px;
    order: 2;
    padding: 50px 60px 100px 60px;
  }

  .about__text {
    width: 100%;
    min-height: 600px;
    padding: 100px 40px 50px 40px;
    order: 1;
  }

  .about__article {
    margin-left: 20px;
  }

  /* About */
    /* -> Education */

  .education__year {
    font-size: 50px;
  }

  .education__specialization {
    font-size: 18px;
  }

  .education__specification, .education__address {
    font-size: 15px;
  }

  .education__school {
    font-size: 16px;
  }

  /* About */
    /* -> Work */

  .workBox__works {
    width: 90%;
  }

}

@media (min-width: 992px) {

  /* Home */
    /* Navigation */

  .nav__link:hover {
    mask-image: linear-gradient(-75deg, rgba(0,0,0,0.6) 30%, #000 50%, rgba(0,0,0,0.6) 70%);
    mask-size: 200%;
    animation: shine 1.3s infinite;
  }

  .about__link:hover {
    background-color: $bg-color;
    border: 2px solid $red;
    color: $red;
  }

    /* -- Preloader */

  .show-preloader {
      visibility: visible;
      opacity: 1;
  }

  /* About */
    /* -> Skills */

  .carousel__arrow:hover {
    color: $red;
  }

  /* Footer */

  .footer__link:hover {
    background-color: $red;
    color: $white;
  }

  .footer__link--web:hover {
    color: $white;
  }

  /* Section contact */

  .contact__button:hover, .contact__link:hover {
    background-color: #010101;
    border: 2px solid #dd4135;
    color: #dd4135;
  }

}

/* Medium devices (tablets, 768px and less than 992) */
@media (max-width: 991.98px) {

    /* -- Focus */

  /* Home */
    /* Navigation */
  
  .about__link:focus {
    background-color: $bg-color;
    border: 2px solid $red;
    color: $red;
  }

  /* Section contact */

  .contact__button:focus, .contact__link:focus {
    background-color: #010101;
    border: 2px solid #dd4135;
    color: #dd4135;
  }

  /* Footer */

  .footer__link:focus {
    background-color: $red;
    color: $white;
  }

  .footer__link--web:focus {
    color: $red;
  }

  /* Home */
    /* -> Hero */

  .heading__name {
    font-size: 65px;
    line-height: 55px;
  }

  .hero__heading {
    background-size: 147%;
    background-position: -166px -33px;
  }

  .heading__profession {
    font-size: 30px;
  }

  .hero__name {
    margin-right: 13%;
  }

  .hero {
    background-size: 47%;
  }

  .hero__name {
    margin-top: -10%;
  }

  /* About */
    /* -> Skills */

  .about__skills {
    width: 100%;
    min-height: 600px;
  }

  .carousel__dots {
    bottom: 30px;
  }

  .corousel__skillsCell {
    width: 130px; 
  }

  .carousel__skillsRow {
    height: 115px;
  }

  .carousel__hexagon {
    font-size: 10px;
  }

  .carousel__skillsTitle {
    margin-bottom: 40px;
  }

  .js {
    background-position: center 44%;
    background-size: 50%;
  }

  .html5, .css3 {
    line-height: 135px;
    font-size: 70px;
  }

  .jquery {
    font-size: 60px;
    line-height: 130px;
  }

  .sass {
    line-height: 125px;
    font-size: 70px;
  }

  .bootstrap {
    font-size: 55px;
    line-height: 130px;
  }

  .ajax {
    background-size: 85%;
  }

  .git {
    font-size: 65px;
    line-height: 130px;
  }

  .npm {
    font-size: 70px;
    line-height: 130px;
  }

  .photoshop {
    font-size: 55px;
    line-height: 130px;
  }

  .es6 {
    background-position: center 40px;
    background-size: 50%;
  }

  .webpack, .node, .react, .express, .mongodb {
    font-size: 60px;
    line-height: 130px;
  }

  .redux {
    background-position: center 35px;
    background-size: 60%;
  }

  .mern {
    background-position: center 50px;
    background-size: 70%;
  }

  .carousel__arrow {
    top: 41%;
  }

  .carousel__arrow {
    color: $red;
  }

  /* About */
    /* -> Education */

  .timeline--first {
    order: 1;
  }

  .timeline--two {
    order: 2;
  }

  .timeline--three {
    order: 3;
  }

  .timeline--four {
    order: 4;
  }

  .timeline--five {
    order: 5;
  }

  .timeline--six {
    order: 6;
  }

  .timeline--seven {
    order: 7;
  }

  .timeline--eight {
    order: 8;
  }
  
  .education__studies--left {
    text-align: left;
  }

  .education__year--left {
    margin-right: 20px;
    margin-left: 0;
  }

  .education__years--left:before {
    right: 0;
    left: -28px;
  }

  .about__timeline:before{
    left: 20%;
  }

  .about__timeline:after {
    left: 20%;
  }

  .timeline__empty {
    width: 20%;
  }

  .timeline__education {
    width: 80%;
  }

  .timeline__education--left {
    justify-content: flex-start; 
  }

  .education__studies {
    padding-right: 20%;
  }

  .education__year {
    font-size: 60px;
  }

  .education__specialization {
    font-size: 20px;
  }

  .education__specification, .education__address {
    font-size: 16px;
  }

  .education__school {
    font-size: 18px;
  }

  /* About */
    /* -> Work */

  .workBox__year--right {
    right: -58px;
  }

  .workBox__year {
    font-size: 80px;
  }

  .workBox__dates {
    width: 150px;
    min-width: 150px;
  }

  .workBox__datesBox {
    height: 94px;
  }

  .workBox__date {
    font-size: 14px;
  }

  .workBox__works {
    min-width: 400px; 
  }

  .workBox__date--right {
    right: -156px;
  }

  .workBox__year--left {
    left: -48px;
  }

  .workBox__date--left {
    left: -47px;
  }

  .workBox__year--rightSecond {
    right: -51px;
  }

  .workBox__date--rightSecond {
    right: -125px;
  }

  .workBox__work {
    padding-left: 70px;
    padding-right: 70px;
  }

  .workBox__business {
    font-size: 18px; 
  }

  .workBox__address {
    font-size: 14px;
  }

  .workBox__office {
    font-size: 16px;
  }

  /* Section projects */

  .projects__cell, .contact__columnCell {
    width: 75%;
  }

  .projects__rowCell {
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects__box {
    min-height: 4133px;
  }

  /* Section contact */

  .contact__container, .projects__container {
    padding: 20px 10px 0 10px;
  }

  .contact__container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact__box {
    min-height: 1350px;
  }

}

/* Small devices (landscape phones, 576px and less than 768) */
@media (max-width: 768px) {

  /* Home */
    /* -> Hero */

  .hero {
    align-items: flex-start;
    justify-content: center;
    background-size: 41%;
    background-position: center bottom;
  }

  .hero__name {
    margin: 0;
    text-align: center;
    padding-top: 23%;
    width: 100%;
    height: 50%;
    order: 1;
  }

   .hero {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .hero__photo {
    width: 100%;
    height: 50%;
    background-position: center bottom;
    order: 2;
  }

  .hero__heading {
    display: none;
  }

  .hero__heading--mobile {
    display: block;
    color: $white;
  }

  .heading__profession {
    text-align: center;
    color: #7c7c7c;
    margin-top: 8%;
  }

  /* About */
    /* -> Introduction */

  .navbar {
    display: none;
  }

  .about__iconScroll {
    position: absolute;
    left: 45px;
    top: 45px;
  }

  .section__link {
    position: absolute;
  }

  .about__introduction {
    padding-right: 0;
  }

  .about__article {
    margin-left: 0;
  }

  /* About */
    /* -> Skills */

  .about__skills {
    padding-right: 0;
  }

  .carousel__dots {
    bottom: 80px;
  }

  .carousel__hexagon {
    font-size: 9px;
  }

  .carousel__hexagon:before {
    top: 5.49em;
  }

  .corousel__skillsCell {
    width: 110px;
  }

  .carousel__skillsRow {
    height: 95px;
  }

  .about__carousel {
    height: 465px;
  }

  .about__skills {
    height: 670px;
  }

  .html5, .css3 {
    line-height: 130px;
    font-size: 60px;
  }

  .jquery, .bootstrap{
    font-size: 50px;
    line-height: 125px;
  }

  .sass, .npm {
    font-size: 60px;
  }

  .git {
    font-size: 55px;
  }

  .photoshop {
    font-size: 45px;
  }

  .webpack, .node, .react, .express, .mongodb {
    font-size: 50px;
    line-height: 125px;
  }

  .redux {
    background-position: center 40px;
    background-size: 52%;
  }

  .carousel__arrow {
    top: 38%;
    font-size: 55px;
  }

  /* About */
    /* -> Education */

  .about__education {
    padding-right: 0;
  }

  .about__timeline:before {
    left: 12%;
  }

  .timeline__empty {
    width: 12%;
  }

  .timeline__education {
    width: 88%;
  }

  .education__studies {
    padding-right: 12%;
  }

  .about__timeline:after {
    left: 12%;
  }

  /* About */
    /* -> Work */

  .about__work {
    padding-right: 0;
  }

  /* About */ 
    /* -> Footer */

  .footer {
    padding-right: 0;
  }

  .container {
    padding: 30px 20px;
  }

}

@media (max-width: 650px) {

  /* Home */
    /* -> Hero */
  
  .heading__name {
    font-size: 55px;
    line-height: 50px;
  }

  .heading__profession {
    font-size: 25px;
  }

  .hero__name {
    padding-top: 30%;
  }

  .hero {
    background-size: 50%;
  }

  .nav__item--contact {
    right: -25px;
  }

  .nav__item--projects {
    left: -35px;
  }

  .nav__item--about {
    bottom: 20px;
  }

  /* About */
    /* -> Heading */

   .section__heading {
    font-size: 30px;
    padding-bottom: 5px;
  }

  .section__subheading {
    font-size: 15px;
  }

  .section__subheading::before {
    bottom: 6px;
    width: 30px;
  }

  .skills__subheading:before {
    width: 145px;
  }

  .education__subheading:before {
    width: 54px;
  }

  .work__subheading:before {
    width: 232px;
  }

  .projects__subheading:before {
    width: 70px;
  }

  .contact__subheading:before {
    width: 15px;
  }

  /* About */
    /* -> Work */

  .workBox__work {
    padding-right: 40px;
  }

  .workBox__business, .workBox__office {
    font-size: 16px;
  }

  .workBox__work--left {
    padding-right: 70px;
    padding-left: 40px;
  }

}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

  /* Home */
    /* -> Hero */

  .heading__name {
    font-size: 50px;
    line-height: 47px;
  }

  .heading__profession {
    font-size: 23px;
  }

  .hero__name {
    padding-top: 34%;
  }

  .hero {
    background-size: 58%;
  }

  /* About */
    /* -> Skills */

  .carousel__hexagon {
    font-size: 8px;
  }

  .corousel__skillsCell {
    width: 100px;
  }

  .carousel__skillsRow {
    height: 85px;
  }

  .carousel__arrow {
    font-size: 60px;
    top: 41%;
  }

  .js {
    background-position: center 41%;
  }

  .html5, .css3 {
    font-size: 55px;
  }

  .jquery, .bootstrap {
    font-size: 45px;
    line-height: 120px;
  }

  .sass, .npm {
    font-size: 55px;
    line-height: 120px;
  }

  .photoshop {
    font-size: 40px;
    line-height: 120px;
  }

  .git {
    font-size: 50px;
    line-height: 120px;
  }

  .webpack, .node, .react, .express, .mongodb {
    font-size: 45px;
    line-height: 120px;
  }

  .mern {
    background-position: center 47px;
  }

  .carousel__dots {
    margin-bottom: 20px;
  }

  .carousel__arrow {
    top: 72%;
  }

  /* About */
    /* -> Education */

  .education__year {
    font-size: 50px;
  }

  .education__specialization {
    font-size: 18px;
  }

  .education__specification, .education__address {
    font-size: 15px;
  }

  .education__school {
    font-size: 16px;
  }

  /* About */
    /* -> Work */

  .workBox__business, .workBox__office {
    font-size: 14px;
  }

  .workBox__date {
    font-size: 12px;
  }

  .workBox__year {
    font-size: 65px;
  }

  .workBox__dates {
    width: 106px;
    min-width: 106px;
  }
    
  .workBox__work {
    padding-left: 55px;
    padding-right: 30px;
  }

  .workBox__work--left {
    padding-left: 30px;
    padding-right: 55px;
  }

  .workBox__datesBox {
    height: 77px;
  }

  .workBox__year--right {
    right: -47px;
  }

  .workBox__date--right {
    right: -167px;
  }

  .workBox__year--left {
    left: -39px;
  }

  .workBox__date--left {
    left: -38px;
  }

  .workBox__year--rightSecond {
    right: -42px;
  }

  .workBox__date--rightSecond {
    right: -141px;
  }

  /* -> About */
    /* -> Footer */

  .footer__content {
    width: 100%;
    text-align: center;
  }

  .container {
    flex-wrap: wrap
  }

  .footer__content--social {
    margin-top: 10px;
    justify-content: center;
  }

  .footer__link  {
    margin: 0 5px;
  }

  /* Section projects */

  .projects__cell {
    width: 100%;
  }

  .projects__cell {
    height: 300px;
  }

  .projects__box {
    min-height: 3280px;
  }

  .projects__technologies, .projects__description {
    font-size: 14px;
  }

  .projects__technologies {
    padding: 2px;
  }

  .projects__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .projects__link {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .projects__description {
    margin-bottom: 10px;
  }

  /* Section contact */

  .contact__columnCell {
    width: 100%;
  }

  .contact__title {
    font-size: 25px;
  }

}

@media (max-width: 450px) {

  /* Home */
    /* -> Hero */

  .heading__name {
    font-size: 40px;
    line-height: 38px;
  }

  .heading__profession {
    font-size: 18px;
  }

  .hero__name {
    padding-top: 52%;
  }

  .hero {
    background-size: 73%;
  }

  /* About */
    /* -> Introduction */

  .about__iconScroll {
    visibility: hidden;
  }

  .about__link {
    font-size: 16px;
    margin: 0 2px;
    height: 40px;
    line-height: 38px;
  }

  .about__link--CV {
    width: 174px;
  }

  .about__link--social {
    width: 40px;
  }

  .about__text {
    padding: 100px 20px 50px 20px;
  }

  .about__photo {
    padding: 50px 40px 100px 40px;
  }

  .about__bio {
    font-size: 14px;
  }

  /* About */
    /* -> Skills */

  .carousel__hexagon {
    font-size: 6px;
  }

  .corousel__skillsCell {
    width: 75px;
  }

  .carousel__skillsRow {
    height: 65px;
  }

  .about__carousel {
    height: 380px;
  }

  .about__skills {
    height: 540px;
  }

  .carousel__skillsTitle {
    font-size: 15px;
    margin: 0 20px 40px 20px;
  }

  .js {
    background-position: center 35%;
  }

  .html5, .css3 {
    font-size: 45px;
    line-height: 110px;
  }

  .jquery, .bootstrap {
    font-size: 35px;
    line-height: 107px;
  }

  .sass, .npm {
    font-size: 40px;
    line-height: 107px;
  }

  .git {
    font-size: 40px;
    line-height: 107px;
  }

  .photoshop {
    font-size: 30px;
    line-height: 107px;
  }

  .es6 {
    background-position: center 38px;
    background-size: 50%;
  }

  .webpack, .node, .react, .express, .mongodb {
    font-size: 40px;
    line-height: 107px;
    }

  .redux {
    background-position: center 36px;
    background-size: 60%;
  }

  .mern {
      background-position: center 45px;
  }

  .carousel__arrow {
    font-size: 50px;
    top: 66%;
  }

  .carousel__dots {
    margin-bottom: 56px;
  }

  /* About */
    /* -> Education */

  .education__year {
    font-size: 40px;
  }

  .education__specification, .education__address {
    font-size: 14px;
  }

  .education__specialization {
    font-size: 16px;
  }

  .education__school {
    font-size: 15px;
  }

  .about__timeline:before {
    left: 8%;
  }

  .timeline__empty {
    width: 8%;
  }

  .timeline__education {
    width: 92%;
  }

  .education__studies {
    padding-right: 20px;
  }

  .about__timeline:after {
    left: 8%;
  }

  /* About */
    /* -> Work */

  .workBox__dates {
    width: 0;
    min-width: 0;
  }

  .workBox__work {
    width: 100%;
    text-align: right;
  }

  .workBox__work--left {
    text-align: left;
  }

  .workBox__works {
    min-width: 300px;
  }

  .workBox__work {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
  }

  .workBox__office {
    margin-bottom: 20px;
  }

  .workBox__dates {
    align-items: flex-start;
  }

  .workBox__year--right {
    right: 0;
    left: 10px;
  }

  .workBox__date--right {
    right: 0;
    left: 12px;
  }

  .workBox__year--left {
    left: -165px;
  }

  .workBox__date--left {
    left: -160px;
  }

  .workBox__date--rightSecond {
    right: 0;
    left: 12px;
  }

  .workBox__date {
    width: 150px;
  }

  /* Section contact */

  .contact__button {
    font-size: 16px;
    height: 40px;
    width: 184px;
    padding: 0; 
  }

  .contact__link {
    font-size: 16px;
    height: 40px;
    width: 40px;
    line-height: 38px;
  }

  .contact__description {
    font-size: 14px;
  }


}

@media (max-width: 390px) {

  /* Home */
    /* -> Hero */

  .heading__name {
    font-size: 30px;
    line-height: 28px;
  }

  .heading__profession {
    font-size: 15px;
  }

  /* About */
    /* -> Education */

  .education__year {
    font-size: 30px;
  }

  .projects__title {
    font-size: 16px;
  }

  .projects__technologies {
    font-size: 12px;
    margin: 3px 1px;
  }

  .projects__description {
    font-size: 12px;
  }

}

