@charset 'utf-8';
@import 'reset';

$white: #ffffff;
$bg-color: #010101;
$red: #dd4135;
$deep-dark-grey: #0a0a0a;
$dark-grey: #202020;
$font-color: #b7b7b7;
$grey: #1c1c1c;

html, body {
    overflow: hidden;
    height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  color: $font-color;
  background-color: $bg-color;
  border: 1px solid red;
  width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Home */

.home {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: $bg-color;
  position: relative;
  overflow: hidden;
  border: 1px solid green
}
  /* -> Navigation */
    /* -> Menu List */

.nav__item {
  position: absolute;
}

.nav__item--projects {
  top: 50%;
  transform: translateY(-50%);
  transform: rotateZ(90deg);
  left: -10px;

}

.nav__item--contact {
  top: 50%;
  transform: translateY(-50%);
  transform: rotateZ(90deg);
  right: 0;
}

.nav__item--about {
  left: 50%;
  transform: translateX(-50%);
  bottom: 45px;
}

    /* -> Menu Link */

.nav__link {
  text-transform: uppercase;
  color: $red;
  font-size: 20px;
  letter-spacing: 4px;
  transition: all 0.3s;
  font-weight: bold;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

  /* -> Logo */

.hero__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

.logo__border {
  border: 2px solid $font-color;
  padding: 5px;
  border-radius: 50%;
}

.logo__borderInside {
  border: 2px solid $red;
  border-radius: 50%;
  padding: 5px;
}

.logo {
  background-image: url('../images/logo-białe.svg');
  background-size: 170%;
  background-position: center -35px;
  width: 80px;
  height: 80px;
}